
@{
    ViewBag.Title = "Home";
}

<h2>Todos os contatos</h2>


<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>NOME</th>
            <th>AÇÃO</th>
        </tr>
    </thead>

    <tbody></tbody>

    <tfoot>
    </tfoot>
</table>
